* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 4fr;
  /* grid-template-rows: 2fr 1fr 12fr 1fr; */
  grid-template-rows: auto auto 1fr auto;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo{
  grid-column: 1;
  justify-self: flex-start;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
}

.menu ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sidebar {
  background-color: #C50208;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  place-content: center;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  place-content: center;
}

.nav {
  background-color: #C50208;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
}

.nav ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.article {
  background-color: #bccbde;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}